/*Background*/
#home{
  background-image: url('Images/home.jpg'); 
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#about{
  background-image: url('Images/about.jpg'); 
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#resume{
  background-image: url('Images/resume.jpg'); 
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#projects{
  background-image: url('Images/projects.jpg'); 
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
/*Nav-Bar Custom Styles*/
.nav{
  background-color: #363738;
  color: white;
}
.nav-item{
  color: white;
  font-family: "Text Me One", sans-serif;
  font-size: 150%;
}
.nav-item:hover{
  color: rgba(255, 255, 255, 0.75);
}
.nav-link.active:hover{
  color: rgba(255, 255, 255, 0.75);
}
/*Home-Page Title Styles*/
.title-part{
  color: white;
  margin-top: 20%;
  margin-left: 10%;
  text-align: center;
}
.title-part h1{
  font-size: 350%;
  border-bottom-style: solid;
  font-family: "Open Sans Condensed", sans-serif;
}
/*Home-Page Project Styles*/
.projects-home{
  margin-top: 20%;
  background-color: #f2f2f2;
  padding: 5%;
}
.card-title{
  font-family: "Raleway", sans-serif;
  font-style: italic;
}
.card-body{
  font-family: "Raleway", sans-serif;
}
.title{
  font-family: "Raleway", sans-serif; 
  text-align: center;
}
.title-part-about{
  color: white;
  margin-top: 20%;
  margin-left: 10%;
  text-align: left;
}
.title-part-about h1{
  font-size: 350%;
  border-bottom-style: solid;
  font-family: "Open Sans Condensed", sans-serif;
}
.card{
  margin-top: 5%;
}
.scratch{
  margin-top: 10%;
}
.bird{
  margin-top: 6%;
}
/*About Me Page Styles*/
.about-content{
  background-color: #f2f2f2;
  margin-top: 20%;
  padding: 5%;
}
.about-content h1{
  font-family: "Raleway", sans-serif;
}
.about-content p{
  font-family: "Raleway", sans-serif;
}
.about{
  font-size: 1.3em;
}
.subtitle{
  font-style: italic;
  color: gray;
}
/*Resume Styles*/
.title-part-resume{
  color: white;
  margin-top: 20%;
  margin-left: 10%;
  text-align: center;
}
.title-part-resume h1{
  font-size: 350%;
  border-bottom-style: solid;
  font-family: "Open Sans Condensed", sans-serif;
}
.resume{
  background-color: #f2f2f2;
  padding: 10%;
  margin-top: 20%;
  line-height: 250%;
}
.resume h4{
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}
.resume li{
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
}
.resume p{
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
}
.resume h1{
  font-family: "Raleway", sans-serif;
  font-size: 3em;
}
/*Project Styles*/
.title-part-projects{
  color: white;
  margin-top: 20%;
  margin-left: 10%;
  text-align: center;
}
.title-part-projects h1{
  font-size: 350%;
  border-bottom-style: solid;
  font-family: "Open Sans Condensed", sans-serif;
}
.content{
  background-color: #f2f2f2;
  padding: 5%;
}
.content h1{
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  margin-left: 8%;
}
/*Contact Styles*/
.title-part-contact{
  margin-top: 10%;
  margin-left: 10%;
  text-align: center;
}
.title-part-contact h1{
  font-size: 350%;
  border-bottom-style: solid;
  font-family: "Open Sans Condensed", sans-serif;
}
.contact-content{
  font-family: "Raleway", sans-serif;
}
/*Footer Styles*/
footer li img {
  width: 32px;
  height: 32px;
}

footer {
  font-size: 12px;
  padding: 8%;
  padding-bottom: 4%;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li{
    margin-right: 2%;
    margin-left: 2%;
}
footer{
  background-color: white;
}